
section .grid-container > * {
	margin: 0.3em auto;
}

.no-mobile {
	display: none !important;
}

.guests-and-nights > .tileviewcontainer {
	padding: 0.1em 1em;
	font-size: 0.7em;
}

.guests-and-nights {
	margin: 0 auto;
}
.guests-and-nights.mr2 {
	margin-right: auto;
}

.notes-icons {
	margin-right: auto !important;
	margin: 0 auto;
}
.popup .textarea-note {
	min-width: 50px;
}
.popup .notes-container {
	min-width: 60vw;
	max-width: 100%;
	max-height: unset;
	height: unset;
}
#book_details > * {
	flex-wrap: wrap;
	margin: 0;
}

#book_details > * .det-col {
	width: 100%;
	border-right: none;
	font-size: 0.8em;
}

#book_details .det-col h3 {
	margin: 0;
}

#book_details .book-status, #book_details .book-inout {
	margin: 5px 0;
}

#book_details .book-inout > * {
	margin: 0 1em;
}

.guest-status {
	margin: 0;
}

.balance .mt1 {
	margin: 0;
}
.payment.deposits img {
	/* width: 16px; */
	/* height: 16px; */
	margin-left: 5px;
}

.popup form * {
	flex-wrap: wrap;
	margin: 2px auto;
}

.bottom-section .right {
	margin-bottom: 1em;
}

#bottom_payments li > * {
	margin: 2px 5px;
}