
input.normal-sized {
  box-shadow: 4px 04px 10px -8px var(--box-shadow-color);
  line-height: 1.4rem;
  border-radius: 5px;
  padding: .3rem;
  width: 250px;
  background-color: white;
  transition: .3s all;
}

input.modern, select.modern {
  box-shadow: 4px 04px 10px -8px var(--box-shadow-color);
  font-size: 1.6em;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 0.2em;
  background: #ffffff66;
  width: 300px
}

input.modern:focus, select.modern:focus {
  background-color: white;
  box-shadow: 4px 04px 10px -8px var(--box-shadow-color);
}
input.modern:focus-visible {
  outline: none;
  border: 2px solid #aaa;
  
}
input.error, select.error {
  border:2px solid red; 
  background-color: #ff00001f;
}