.contact-selector {
	display: flex;
	flex-wrap: wrap;
}

.contact-selector > div {
	background-color: #ddd;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
	cursor: pointer;
	width: 100%;
	margin-top: .3rem;
	box-shadow: 2px 2px 10px #666;
}
.contact-selector > div.active {
	background-color: #fafafa;
	/*border-radius: 1rem;*/
}
.contact-selector > div.disabled {
	color: #aaa;
}
.contact-selector > div:hover {
	/*box-shadow: 2px 2px 20px #555;*/
	background-color: #fafafa;
	transition: .4s all;
	z-index: 2;
}
.contact-selector h3 {
	font-weight: 100;
}
.contact-selector > div:not(.disabled):hover h3, .contact-selector > div.active h3 {
	color: cadetblue;
}
.contact-selector span {
	font-weight: 100;
	font-size: 1rem;
}
.webform-container {
	width: 100%;
	padding: 2rem 0;
}
.section-form form {
	width: 100%;
	margin: 0 auto;
	border-radius: .3rem;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	padding: 0 3rem;
	box-shadow: 0 0 35px -13px #666;
}
.section-form .label-container {
	width: 20%;
}
.section-form label {
	font-size: .9rem;
}
.section-form form input {
	border: 1px solid #ccc; 
	border-radius: .3rem;
	width: 80%;
}

.section-form textarea {
	border: 1px solid #ccc;
	border-radius: 0.3rem;
	height: 8rem;
}
.section-form form button {
	margin: 1rem 0 1rem auto;
	font-size: 1rem;
}
.webcall-container .calendly-inline-widget {
	height: 1150px;
}
.webcall-container {
	width: 100vw;
	margin: 0 auto;
}

@media screen and (min-width: 800px) {

	.contact-selector {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2px;
		border-radius: 1rem;
		margin: 2rem 0 0 0;
	}

	.contact-selector > div {
		width: auto;
	}
	.webform-container {
		width: 80vw; 
		background-color:#fafafa; 
		padding: 3rem 0;
	}
	.section-form form {
		width: 90%;
	}
	.section-form form button {
		font-size: 1.4rem;
	}
	.calendly-inline-widget {
		height: 700px;
	}
	.webcall-container {
		width: 80vw;
	}
}

@media screen and (min-width: 1200px) {
	.section-form form {
		width: 60%;
	}
}