/* Mobile */
body {
	background-color: white; 
	/* margin-top: 80px; */
}

.bg-brown {
	background-color: #686241;
	color: white;
}
.bg-orange-60-40 {
	background: linear-gradient(to right, #ffc95f 0%, #ffc95f 60%, #ff8120 60%, #ff8120 100%);
	color: white;
}	
.bg-white-orange-60-40 {
	background: linear-gradient(to right, #ffc95f 0%, #ffc95f 60%, #fff 60%, #fff 100%);
	color: #222;
}	

.bg-gray {background-color: #f2f2f2;}
/**** HEADER - PHONES *****/

.header .top-wrapper {
	text-align: center;
	margin: 4rem auto 0 auto;
	width: 96vw;
}
.header .top-wrapper h1 {
	font-size: 3rem;
	margin: 1rem 0;
}
.header .top-wrapper h1 .subtitle {
	font-size: 1.2rem;
	font-weight: 200;
}



.header .video-wrapper {
	display: none;
}

.header .img-wrapper {
	display: flex;
   justify-content: center;
}
.header .img-wrapper img {
	width: 90vw;
	height: 90vw;
	max-width: 400px;
	max-height: 400px;
}

.header video {
	width: 90vw;
	/* height: 800px; */
	margin: 0 auto;
} 
/**** END HEADER *****/

/* TITLES */
#func_cards h1, #qna h1, #soft_screens h1, #pricing h1 {
	font-size: 2.2rem;
}
/* **** */


/***** QNA *****/
/* Questions and answers Google styled */
#qna > div.margined-container.high-margin {
	margin: 2rem auto; 
	
}

.qna-wrapper {
	width: 100%; 
}
.answered-question {
	background-color: white;
	color: #666;
	padding: 0;
	border-radius: 1rem;
	width: 100%;
	box-shadow: 0 0 10px -2px #444;
}

.answered-question-input-wrapper {
	margin: 0 1rem;
	border-bottom: 1px solid #eaeaea;
	gap: 0;
	grid-template-columns: 30px auto 40px;
}

.answered-question input {
	border: none;
	padding: 0;
	width: 100%;
	line-height: 2rem;
	font-size: .9rem;
	color: #666;
}
.answered-question .fake-voice {
	width: 16px;
	height: 16px;
	margin: 0 auto;
}
.answered-question input:disabled {
	/* border-radius: 1rem; */
	background-color: white;
	color: #666;
	/* margin: 1rem; */
}	


.answered-question ul.answers {
	margin-block-start: 0.5rem;
	transition: all .3s ease-in-out .7s;
	transform-origin: top left;
	/* transform: rotateX(-90deg); */
}
.answered-question.in-view ul.answers {
	/* transform: rotateX(0); */
	/* animation: 0.7s showUpAnswers cubic-bezier(.86,0,.07,1) both; */
}
/* @keyframes showUpAnswers {
	0% {height: 0;}
	100% {height: 10rem; }
} */
.answered-question ul.answers li {
	position: relative;
	margin-top: 0;
	margin-bottom: 0.4rem;
	padding-left: calc(1rem + 30px);
	line-height: 1.6rem;
	font-size: 0.9rem;
}

.answered-question ul.answers li::before {
	content: url('../../assets/be/icons/search.svg');
	position: absolute;
	filter: invert(62%) sepia(74%) saturate(0%) hue-rotate(-349deg) brightness(100%) contrast(86%);
	/* top: 50%; */
	/* transform: translateY(-50%); */
	top: 0;
	left: 1rem;
	/* left: -30px; */
	width: 14px;
	height: 14px;
}

.answered-question ul.answers li:hover {
	background-color: #eee;
}


/* *************** */

/***** NUMBERS *****/
section#numbers {
	display: flex;
}
#numbers .gap-controlled {
	margin: 3rem 0;
}
#numbers .numbers-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0;
	width: 90vw;
	margin: 0 auto;
}
#numbers .counter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 0 auto 0;
}
#numbers .number {
	text-align: center;
	width: 6rem;
	height: 6rem;
	line-height: 6rem;
	margin: 0 auto;
	/* transition: all 1s; */
}
#numbers .counter svg {
	width: 6rem;
	height: 6rem;
}
#numbers .counter svg path.bg {
	stroke-width: 8px;
	stroke: #cfcfcf;
}
#numbers .counter svg path.meter {
	stroke: #555;
	will-change: auto;
	stroke-width: 8px;
	transition: stroke-dashoffset 850ms ease-in-out;
}

#numbers .number .real-num {
	font-size: 1.5rem;
	font-family: "Roboto Condensed";
}

#numbers .number .unit {
	font-size: 1rem;
	font-family: "Open Sans";
	font-weight: 100;
}
#numbers .up-arrow {
	transform: rotateX(180deg);
	/* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%) drop-shadow(  2px -1px 3px rgba(0, 0, 0, .7));;  */
}

#numbers .arrow {
	filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%) drop-shadow(  2px -1px 3px rgba(0, 0, 0, .7));
	/* box-shadow: 0 0 4px 4px #000; */
}

#numbers .num-text {
	font-family: "Dosis";
	font-weight: 400;
	font-size: 1rem;
	text-align: center;
}

/* Bigger counter*/
#numbers .counter.bigger {
	position: absolute; 
	left: 0; 
	bottom: 1rem; 
	width: 7rem; 
	z-index: 5; 
}
#numbers .counter.bigger svg {
	height: 7rem; 
	width: 7rem; 
}
#numbers .counter.bigger svg path.meter { 
	stroke: #ffd36c; 
	stroke-width: 10px;  
}
#numbers .bigger .real-num {
	font-size: 2.1rem; 
	line-height: 2.1rem;
}
#numbers .bigger .num-text {font-size: 1rem; z-index: 6; color: white; font-weight: 500;}

/* Image side */
#numbers .image-side {
	z-index: 2; 
	margin: 1rem auto
}

#numbers .img-wrapper, 
#soft_screens .img-wrapper  {
	width: 95vw; 
	margin: 0 auto;
	
}

#numbers .img-wrapper img {
	width: 100%; 
	z-index: 3;
	height: auto;
	transform: translateX(100vw);
}

#numbers .gap-controlled.in-view .img-wrapper img {
	/* animation: 2s imageUnskew cubic-bezier(.86,0,.07,1) 1.3s both; */
	animation: .7s imageSlideRight cubic-bezier(.86,0,.07,1) .2s both;
}

@keyframes imageSlideRight {
	0% {transform: translateX(100vw);}
	100% {transform: translateX(0);}
}




#func_cards .funcs-wrapper {
	width: 95vw;
	margin: 0 auto;
}

#func_cards .funcs-table {
	font-family: "Open Sans";
	font-weight: 100;
	gap: 0rem;
	column-gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
}
#func_cards .funcs-table p{
	transition: 0s transform, 0s background-color;
	transform: rotateX(-90deg);
	/* opacity: 0; */
	transform-origin: top left;
}
#func_cards .funcs-table p.in-view  {
	transition: .4s transform ease-out;
	transform: rotateX(0deg);
	color: #333;
	/* opacity: 1; */
}

.funcs-table h2 {
	font-family: Dosis;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.5rem;
	/* margin-bottom: 0.3rem; */
	margin: 0.3rem 0;
}

.funcs-table > a {
	justify-content: flex-start;
	margin: 0 0 auto 0;
	font-size: 16px;
}
.funcs-table img {
	width: 32px;
	height: 32px;
}
.funcs-table > a:hover h2 {
	text-decoration: 1px underline wavy #333;
}
#func_cards .funcs-table > a:hover {
	background-color: #fdffe4;
	box-shadow: 0 0 20px 20px #fdffe4;
	transition: 1s background-color, 1s box-shadow;
}

/* SOFTWARE SCREEN COMPOSITION */
#soft_screens .gap-controlled {
	grid-template-columns: 60vw 40vw;
	margin: 2rem 0;
}

#soft_screens .img-wrapper {
	width: 80%;
	margin: 0 auto;
}
#soft_screens .img-wrapper img {
	width: 100%; 
	z-index: 3;
	height: auto;
	transform: translateX(-100vw);
}
#soft_screens .text-side {
	width: 100%;
}
#soft_screens .text-side-wrapper {
	max-width: 90vw;
	margin: 2rem auto;
}

#soft_screens .gap-controlled.in-view .img-wrapper img {
	/* animation: 2s imageUnskew cubic-bezier(.86,0,.07,1) 1.3s both; */
	animation: .7s imageSlideLeft cubic-bezier(.86,0,.07,1) .2s both;
}

@keyframes imageSlideLeft {
	0% {transform: translateX(-100vw);}
	100% {transform: translateX(0);}
}

/* PRICING CARDS */
#pricing {
	background-color: #e3eff2;
	color: #000056;
}
#pricing .cards-wrapper {
	max-width: 90vw;
	margin: 2rem auto;
}
#pricing .price-card-container {
	display: flex;
	flex-wrap: wrap;
}
#pricing .price-card {
	background-color: #fcfcfc;
	box-shadow: 0 0 3px 4px #aaaaaaaa;
	border: 1px solid #aaa;
	border-radius: .3rem;
	width: 90%;
	min-width: 250px;
	margin: 1rem auto;
	transition: all .2s ease-in-out;
	/* margin: 1rem; */
	padding: 1rem;
}
#pricing .price-card:hover {
	background-color: #fff;
	box-shadow: 0px 0px 10px 8px #aaaaaaaa;
}
#pricing .price-card .card-inner-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
#pricing .price-card .card-inner-wrapper .card-first-part {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

#pricing .card-first-part .top{
	position: relative;
}
#pricing .card-first-part .top:after {
	content: "";
	width: 80%;
	height: 1px;
	transform: skewX(89deg);
	background-color: #d2d2d2;
	left: 10%;
	position: absolute;
	bottom: 0;
}

/* price - Title */
#pricing .card-first-part .top h2.title {
	font-family: 'Dosis';
	text-transform: uppercase;
	font-weight: 100;
	margin: 0;
}

#pricing .card-first-part .top .size {
	text-align: center;
	color: #888;
}

#pricing .card-first-part .top h5 {
	position: relative;
	margin: 1.4rem 0.5rem ;
	text-align: center;

}
#pricing .card-first-part .top h5.after:after {
	content: "or";
	font-family: "Roboto Condensed";
	font-size: 11px;
	position: absolute;
	right: 0;
	margin: 0;
	top: 50%;
	color: #ccc;
	transform: translate( calc(1.5rem - 50%),-50%);
}
#pricing .card-first-part .top p {
	font-family: "Dosis"; 
	font-weight: 100; 
	margin: 1rem;
}
#pricing .card-first-part .top a {
	color: coral;
}
#pricing .card-first-part .bottom {
	margin: .5rem 1rem; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#pricing .card-first-part .bottom h4 {font-weight: 100; margin: .5rem 0; }
#pricing .card-first-part .price-container .price {
	font-size: 2rem;
	margin-right: 1rem;
	color: darkred;
	text-align: right;
}
#pricing .card-first-part .price-container .unit {font-size: .8rem;}
#pricing .card-first-part .price-container .sub-price {font-size: .8rem;}

@media screen and (min-width: 500px) {
	#numbers .counter.bigger {
		bottom: 2rem;
	}

}	

@media screen and (min-width: 800px) {



	.header .top-wrapper {
		text-align: left;
		margin: 2rem auto 2rem 1rem;
		width: auto;
	}
	
	.header .form-wrapper {
		flex-wrap: nowrap;
	}

	.header button, #qna .button {
		position: absolute;
		top: 0;
		right: 0;
		width: 15ch;
		height: 2.5rem;
		margin: 0;
		background-color: #000;
		color: #fff;
		text-align: center;
		border-color: #555;
	}
	.header button:hover {
		background-color: #fa4825;
	}

	.header input {
		height: 2.5rem;
		text-align: left;
	}

	.header .subbuttons {
		justify-content: left;
	}
	.header .img-wrapper img {
		max-width: 350px;
		max-height: 350px;
	}
	/* Gap Controlled Animation */
	
	/*.gap-controlled {
		column-gap: 10vw; 
		transform: translateY(50px);
		opacity: 0;
		grid-template-columns: 40vw 40vw; 
		transition: all 0.4s; 
	}
	.gap-controlled.in-view {
		animation: .9s firstViewChangeGrid ease-out both; 
	}
	@keyframes firstViewChangeGrid { 
		0% {column-gap: 6vw; opacity: 0; transform: translateY(50px);} 
		100% {column-gap: 0; opacity: 1; transform: translateY(0);} 
	}*/

	/* FUNCS TABLE */
	#func_cards .funcs-wrapper {
		width: 90vw;
		max-width: 1300px;
	}
	#func_cards  .funcs-table {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 1rem;
		column-gap: 2rem;
	}
	
	/***** NUMBERS *****/
	#numbers .numbers-wrapper{grid-template-columns: 1fr 1fr; width: 90%; gap: 2rem; max-width: 600px;}
	#numbers .number {width: 9rem; height: 9rem;}
	#numbers .counter svg {width: 9rem; height: 9rem; }
	#numbers .number .real-num {font-size: 2rem; }
	#numbers .number .unit {font-size: 1.5rem; }
	#numbers .counter.bigger {right: 0; left: auto; bottom: 3rem; width: 12rem; transform: translateX(0);} 
	#numbers .counter.bigger svg {height: 12rem; width: 12rem; }
	#numbers .counter.bigger svg path.meter { stroke-width: 18px; }
	#numbers .bigger .real-num {
		font-size: 4.5rem;
		line-height: 4.5rem;
	}
	#numbers .bigger .num-text {font-size: 1.3rem;}
	#numbers .image-side {width: 40vw; height: auto; }
	#numbers .img-wrapper, #soft_screens .img-wrapper {
		width: 100%; 
		height: 100%;
	}
	#numbers .img-wrapper img { 
		width: 100%;
		height: auto;	
		max-width: 600px;
		transform: rotate3d(-0.15, 1, -0.1, 60deg);
		position: relative;
	}
	#numbers .gap-controlled.in-view .img-wrapper img {
		/* animation: 2s imageUnskew cubic-bezier(.86,0,.07,1) 1.3s both; */
		animation: .7s imageUnskew ease-out .2s both;
	}

	@keyframes imageUnskew {
		0% {transform: rotate3d(-0.15, 1, -0.1, 60deg);}
		100% {transform: rotate3d(0, 0, 0, 0);}
	}

	/* QNA  */
	/* Big top margin */
	#qna > div.margined-container.high-margin {margin: 5rem auto;}

	
	/* SOFT SCREEN */
	/* Reset Animation */
	#soft_screens .img-wrapper img {
		width: 100%;
		height: auto;
		max-width: 600px;
	}
	#soft_screens .gap-controlled.in-view .img-wrapper img {
		transform: none;
		animation: none;
	}
	#soft_screens .text-side-wrapper {
		max-width: 35vw;
		margin: 1rem auto 2rem 0;
	}


	#pricing .price-card-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10vw;
		row-gap: 2rem;
		opacity: 0;
	}
	
	.price-card-container.in-view {
		animation: 0.7s priceGridChanger cubic-bezier(.86,0,.07,1) both; 
	}
	@keyframes priceGridChanger { 
		0% {column-gap: 10vw; opacity: 0; } 
		100% {column-gap: 2rem; opacity: 1;} 
	}

	#pricing .price-card {
		/* margin: 0; */
	}
}
@media screen and (min-width: 1200px) {
	/* Main Title and Subtitle */
	.header .buttons-container {
		display: grid;
	}
	.header video {max-width: 500px;}

	.header .top-wrapper h1 {
		margin: 2rem 0;
	}
	.header .img-wrapper {
		display: none;
	}
	.header .video-wrapper {
		display: block;
	}
	.header .video-wrapper {
		overflow: hidden;
		max-height: unset;
	}
	/* FUNCS TABLE */
	#func_cards .funcs-wrapper {
		width: 60vw;
	}
	#func_cards .funcs-table > div {
		font-size: 1rem;
	}
	#func_cards .funcs-table h2 {
		margin: 1rem 0;
	}

	/***** NUMBERS *****/
	#numbers .counter svg {height: 12rem; width: 12rem; }
	#numbers .number .real-num {font-size: 3rem; }
	#numbers .number .unit {font-size: 2rem; }
	#numbers .counter.bigger {right: 4rem; bottom: 7rem; width: 14rem;} 
	#numbers .counter.bigger svg {height: 12rem; width: 12rem; }
	#numbers .counter.bigger svg path.meter { stroke-width: 23px; }
	#numbers .bigger .real-num {font-size: 4.5rem;}
	#numbers .bigger .num-text {font-size: 1.3rem;}
	#numbers .image-side {width: 40vw; }

	/* SOFT SCREN */
	#soft_screens .image-side {width: 60vw; }


	#pricing .cards-wrapper {
		max-width: 1199px;
	}
	#pricing .price-card-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media screen and (min-width: 1500px) {
	.header {max-height: 1000px; }
	
	/* .header video {max-width: 600px;} */
	/* .header .wrapper {max-width: 88vw; } */
	.header .video-wrapper {
		/* overflow: visible; */
		max-height: unset;
	}
	.margined-container {
		margin: 0 auto;
		max-width: 1300px;
	}
	#pricing .cards-wrapper {
		max-width: 1300px;
	}
}
@media screen and (min-width: 1800px) {
	.header {
		max-height: 1200px;
	}

	/* .header video {max-width: 750px;} */
	/* .header .wrapper {max-width: 1600px; } */
	#numbers .numbers-wrapper {
		max-width: 600px;
	   margin: 1rem 5vw 2rem auto;
	}
	#numbers .counter.bigger {
		left: calc(50% + 600px);
		right: auto;
	}

	#soft_screens .gap-controlled {
		grid-template-columns: 50vw 50vw;
	}

	#soft_screens .image-side {width: 50vw; }
	#soft_screens .img-wrapper {
		max-width: 650px; 
	   margin: 1rem 5vw 2rem auto;
	}
	#soft_screens .text-side-wrapper {
		max-width: 650px;
		margin: 1rem auto 2rem 5vw;
	}
}
@media screen and (min-width: 2400px) {
	/* .header .wrapper {max-width: 2300px; } */
	/* .header video {max-width: 1080px;} */

}

/* Smaller Screens */
@media screen and (max-width: 350px) {
	#numbers .numbers-wrapper {
		grid-template-columns: 1fr 1fr;
	}
	.grid-container, .flex-container{
		display: flex; flex-wrap: wrap;
	}
}

