body.nav-show-up {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    background-color: white;
    z-index: 10;
}

#main_navbar {box-shadow: 0 3px 10px #aaa; }

/* Control on Mobile */
nav#control_navbar {display: none; }
nav#sticky_navbar {
	position: fixed;
	z-index: 9;
    box-shadow: 0px 4px 5px -5px #000000;
    max-height: 80px;
    line-height: 3rem;
}

nav .nav-wrapper {
	/* Container of the 2 lines */
	display: grid;
	grid-template-rows: 1fr;
}

nav div.inner-nav-2nd-line {
	grid-template-columns: min-content auto auto;
	display: grid;
}

/* Extend .logo in main.css */
/* Left Top Side */
nav .logo {
	font-size: 1.3em;
	justify-content: flex-start;
	margin: 1rem;
}
nav .inner-nav-2nd-line .logo-image {display: none;}
nav .inner-nav-2nd-line .logo-extended {display: flex;}
nav .inner-nav-2nd-line .logo-wrapper {width: 300px;}

.social-icons {
	max-width: 150px;
}
.social-icons img {
	filter: invert(62%) sepia(74%) saturate(0%) hue-rotate(-349deg) brightness(100%) contrast(86%);
	cursor: pointer;
}
.social-icons img.fb:hover {filter: invert(36%) sepia(97%) saturate(335%) hue-rotate(179deg ) brightness(91%) contrast(94%) drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5)); }
.social-icons img.ig:hover {filter: invert(31%) sepia(15%) saturate(5424%) hue-rotate(254deg) brightness(91%) contrast(85%) drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5)); }
.social-icons img.tw:hover {filter:  invert(60%) sepia(98%) saturate(629%) hue-rotate(160deg) brightness(98%) contrast(97%) drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5)); }
.social-icons img.in:hover {filter: invert(20%) sepia(90%) saturate(2719%) hue-rotate(186deg) brightness(98%) contrast(99%) drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5)); }
.social-icons img.yt:hover {filter: invert(9%) sepia(98%) saturate(7109%) hue-rotate(3deg) brightness(101%) contrast(111%) drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5)); }


/* For mobiles, hide menu items */
nav .menu-item { display: none; }


/* Right Top Side */
/* Ffor Mobiles, hide call-to-action */
nav .call-to-action {display: none;}

nav .menu-button {
	justify-content: flex-end;
	margin-right: 1rem;
}
nav .menu-button button:hover, nav .menu-button button:focus {
	background-color: transparent;
}
nav .menu-button button {
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
	border: none;
	background-color: transparent;
	padding: 0;
	user-select: none;
	cursor: pointer;
	box-shadow: none;
	display: block;
}

nav .menu-button button .line {
	width: 100%;
	height: 0.2rem;
	background-color: #ff9028;
	border-radius: 1rem;
}

nav .menu-button button .line::before, nav .menu-button button .line::after {
	content: "";
	height: 0.2rem;
	width: 80%;
	background-color: #ff9028;
	border-radius: 1rem;
	position: absolute;
	left: 10%;
}

nav .menu-button button .line::before { transform: translateY(-0.5rem); }
nav .menu-button button .line::after { transform: translateY(+0.5rem); }

nav .menu-button button[aria-expanded='true'] .line {background-color: transparent; }
nav .menu-button button[aria-expanded='true'] .line::after { transform: rotate(135deg); }
nav .menu-button button[aria-expanded='true'] .line::before { transform: rotate(-135deg); }
nav .menu-button button[aria-expanded='true'] {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
 }

nav .menu-button .mobile-menu-container {
	position: absolute;
    z-index: 15;
    left: 0;
    width: 100%;
    height: 100vh;
    top: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: auto;
    color: #000;
    transform: scaleY(0);
    box-shadow: 2px 3px 4px -3px #000;
    transform-origin: top center;
}
nav .menu-button .mobile-menu-container.show-up {
	animation:  growDown 200ms ease forwards;
}
@keyframes growDown {
	0% {transform: scaleY(0); }
	/* 80% {transform: scaleY(1.1); } */
	100% {transform: scaleY(1); }
}

nav .mobile-menu-container .ul-wrapper {
	width: 90%;
	margin: 2rem auto;
}
nav .mobile-menu-container ul li {
	display: grid;
	grid-template-columns: auto 30px;
	padding: 0 2rem;
	line-height: 3rem;
	border: 1px solid #555;
	box-shadow: 2px 2px 4px #aaaaaaaa;
	margin: 1rem 0;
	background-color: aliceblue;
    font-size: 1.1rem;
    font-family: 'Comfortaa'
}

/* DESKTOP */

@media screen and (min-width: 800px) {
	/* NavBar Control */
	nav#control_navbar {display: block; }

	#sticky_place {height: 4rem;}
	nav#sticky_navbar { line-height: 1rem; height: 4rem;}
	
	nav#sticky_navbar:not(.sticky) { position: relative; }
	nav#sticky_navbar.sticky {
		position: fixed;
		top: 0;
		left: 0;
		height: 4rem;
		/* min-height: 70px; */
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	nav .inner-nav-2nd-line {grid-template-columns: min-content auto auto; }
	nav .inner-nav-2nd-line .logo-wrapper {transition: width 1s; }
	nav:not(.sticky) .inner-nav-2nd-line .logo-wrapper {transition-delay: 0s; transition-duration: .1s;}
	nav.sticky .inner-nav-2nd-line .logo-wrapper {transition-delay: 0.3s; transition-duration: .4s;}

	nav.sticky .inner-nav-2nd-line .logo-wrapper {width: 6rem; }
	nav.sticky .inner-nav-2nd-line .logo-extended  {display: none;}
	nav.sticky .inner-nav-2nd-line .logo-image {display: flex;}


	/* Hide menu button, show call-to-action */
	nav .menu-button {display: none; }
	nav .call-to-action {
		display: flex;
		justify-content: flex-end;
		margin-right: 1rem;
	}

	nav#control_navbar div.inner-nav-1st-line{
		display: grid;
		grid-template-columns: auto auto auto;
		margin: 0 1rem;
	}

	/* Menu items */
	nav .menu-item {
		display: block;
		/* position: relative; */
		padding: 1rem 5rem 1rem 0;
	}
	nav .nav-wrapper {
		/* Container of the 2 lines */
		grid-template-rows: auto auto;
	}

	
	/* Center Menu ITEMS */
	.menu-item > a {
		/* margin: 0 2rem; */
		font-family: 'Comfortaa';
		font-size: 1rem;
		cursor: pointer;
		position: relative;
		font-weight: 100;
		cursor: pointer;
	}
	/* Change value from first.css */
	.menu-item:hover > a, .menu-item .submenu ul li:hover a {
		color: #fdb815;
		text-decoration: underline;
		text-decoration-style: dashed;
		text-decoration-thickness: 1px;
		text-underline-offset: 3px;
		/* animation: ;  */
	}

	/* Just for desktops */
	.menu-item:hover > a > img {
		filter: invert(88%) sepia(27%) saturate(4402%) hue-rotate(341deg) brightness(102%) contrast(97%);
	}
	
	.menu-item.expandable > a:after{
		content: ">";
	    font-family: 'Comfortaa';
	    position: absolute;
	    font-weight: 100;
	    font-size: 0.9rem;
	    right: -1rem;
	    bottom: 0px;
	    transform: rotateZ(90deg);
	}

	.menu-item.expandable:hover > a:after {
		animation: 0.1s dondola cubic-bezier(.86,0,.07,1) 0.1s 2;
	}

	@keyframes dondola {
		0% {transform: rotateZ(90deg); }
		25% {transform: rotateZ(70deg);}
		50% {transform: rotateZ(90deg);}
		75% {transform: rotateZ(110deg);}
		100% {transform: rotateZ(90deg); }
	}


	/* First line menu items are smaller */
	.inner-nav-1st-line .menu-item > a{font-size: 0.8rem; }
	.inner-nav-1st-line .menu-item.expandable > a:after{font-size: 0.7rem; right: -.7rem; }

	/* Button on the right on desktops */
	nav.sticky .call-to-action > a {font-size: .8rem; line-height: 2rem;}
	.call-to-action > a {padding: 0 2rem; }

	/* Desktop Submenues */
	.submenu {
		position: absolute;
		z-index: 10;
		background: #fff;
		border: 1px solid #ccc;
		/* border-width: 1px; */
		border-radius: 3px;
		overflow: auto;
		color: #000;   
		height: auto;
		transform: scaleY(0);
		width: auto;
		/* perspective: 1000px; */
		top: 100%;
		box-shadow: 2px 3px 4px -3px #000;
		transform-origin: top center;
	}
	/* First line animation */
	.inner-nav-1st-line .menu-item.expandable:hover .submenu {
		/* height: auto; */
		/* transform: scaleY(1); */
		animation:  growDown 100ms ease 300ms forwards;
	}
	@keyframes growDown {
		0% {transform: scaleY(0); }
		80% {transform: scaleY(1.1); }
		100% {transform: scaleY(1); }
	}

	/* Different animation for 2ndline menus */
	/* Stretched to body, and without transform */
	.inner-nav-2nd-line .menu-item.expandable:hover .submenu {
		/* animation: fadeIn 100ms ease 300ms forwards; */
		opacity: 1;
		visibility: visible;
		/* transform: scaleY(1) translateX(-50%); */
		transform: scaleY(1);
		/* transform: translateX(-50%); */
		margin: 0; /* Nice trick to avoid 1px shifting */
	}
	.inner-nav-2nd-line .menu-item.expandable .submenu-software .title {
		font-size: 1.4rem;
	}

	.inner-nav-2nd-line .menu-item.expandable .submenu-software {
		left: 1rem;
		opacity: 0;
		visibility: hidden;
		max-width: calc(100vw - 2rem);
		/* transform: scaleY(0) translateX(-50%);  */
		/* transform: translateX(-50%);  */
		transition: all;
		transition-delay: 0.5s;
		transition-duration: 0.1s;
		transform-origin: top left;
		margin: 0 1px;
		background-color: #f1f1f1;

	}

	@keyframes fadeIn {
		0% {opacity: 0; }
		100% {opacity: 1; }
	}
	
	.submenu-lang {width: 8rem;}
	.submenu-lang .flag { font-size: 0.7rem;}


	.menu-item .submenu ul {
	    font-size: .8rem;
	    font-family: 'Mali';
	    font-weight: 100;
	    margin: 1rem 0.6rem;
	}
	.menu-item ul li {
		margin-bottom: 1rem;
	}
	
	.menu-item .submenu-title {
		height: 5rem;
	}
	.menu-item .submenu-card {
		/*background-color: #ff8c29;*/
		background-color: #fff;
		border: 1px solid #eee;
		color: #333;
		border-radius: 0.4rem;
		width: 16rem;
		height: 8rem;
		min-width: 5rem;
		min-height: 5rem;
		text-align: center;
		/*transition: all 0.44s ease-in-out;*/
		text-align: center;
		cursor: pointer;
	}

	.menu-item .submenu-card img {
		width: 1.6rem;
		height: 1.6rem;
		filter: invert(78%) sepia(41%) saturate(5893%) hue-rotate(326deg) brightness(101%) contrast(101%);
	}
	.menu-item .submenu-card h1 {
		margin: 0 .7rem .1rem;
		font-size: .95rem;
		font-weight: 100;
	}
	.menu-item .submenu-card .span-container {
		font-weight: 100;
		font-size: 0.9rem;
		width: 80%;
		margin: 1rem auto;
	}
	.menu-item .submenu-card span.discover-more {
		color: blue;
	}
	.menu-item .submenu-card:hover {
		/*border-radius: 3rem;*/
		box-shadow: 1px 1px 5px #55555522;
	}
	.menu-item .submenu-card:hover img{
		transform: scale(1.1, 1.1);
	}
	.menu-item .submenu-card:hover h1 {
		font-size: 1.05em;
	}
	.menu-item .submenu-card:hover span.discover-more {
		text-decoration: underline;
	}
	.menu-item .submenu-img {
		height: 17rem;
		width: auto;
	}
}
@media screen and (min-width: 1200px) {
	nav .width-normalizer {
		max-width: 1200px;
		width: 1200px;
		height: 100%; /* This to get the submenu aligned under the navbar */
		margin: 0 auto;
		position: relative;
	}
	.inner-nav-2nd-line .menu-item.expandable .submenu-software {
		left: 1rem;
		max-width: calc(1200px - 2rem);
	}
}

@media screen and (min-width: 1400px) {
	nav .width-normalizer {
		max-width: 1300px;
		width: 1300px;
		margin: 0 auto;
	}
	.inner-nav-2nd-line .menu-item.expandable .submenu-software {
		left: 1rem;
		max-width: calc(1300px - 2rem);
	}
}

@media screen and (min-width: 2200px) {
	nav#sticky_navbar {
		max-height: unset;
	}
}

