
section {
	margin: 0;
	background-color: transparent;
	font-size: 1.4em;
	font-family:'Roboto Condensed';
	/* display: flex; */
}

section.green {background-color: #dbf9c5; }
section.pink {background-color: #ffd0f847; }
section.red {background-color: #ffe2e2c9; }
section.azul {background-color: #ccfeffdb; }
section.dark-blue {background-color: #00000e; color: white;}
section.brown {background-color: #393833; color: white; }
/*section.light-blue {background-color: #e3eff2; }*/
section.light-blue {background-color: #f6fdff; }
section.light {background-color: #fafafa; color: #666; }
section.light:hover {color: #222; }

section .mobile-hidden {
	display: none !important;
}

section .img-wrapper {
	width: 90vw;
	margin: 0 auto;
}
section .img-wrapper img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

section .gap-controlled.inview-animation.in-view .img-wrapper img {
	/* animation: 2s imageUnskew cubic-bezier(.86,0,.07,1) 1.3s both; */
	animation: .7s imageSlideRight cubic-bezier(.86,0,.07,1) .2s both;
}

@keyframes imageSlideRight {
	0% {transform: translateX(100vw);}
	100% {transform: translateX(0);}
}
section .text-wrapper {
	width: 90vw;
	margin: 0 auto;
	text-align: center;
}
section .ul-wrapper {
	width: 90%;
	margin: 0 auto;
}
section ul.func-list > li::after {
	background-color: #666;
}

section .actions-wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	margin: 1rem auto;
	background-color: #fff;
	padding: 0.5rem;
	border-radius: 1rem;
	overflow: hidden;
}
section .grid-wrapper {
	width: 90vw;
	margin: 0 auto;
	text-align: center;
}
section .actions-wrapper.mode-1 {
	background-color: transparent;
}
section  .actions-wrapper.mode-0 .button-wrapper {
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	text-align: center;
}
section  .actions-wrapper.mode-0 .button-wrapper span {
	font-size: .8rem;
	margin-bottom: 1rem;
}
section  .actions-wrapper.mode-0 .button-wrapper a.button1{
	/* margin: .5rem; */
	width: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 800px) {
	
	section .mobile-show {
		display: none !important;
	}
	section .mobile-hidden {
		display: flex !important;
	}
	section .img-wrapper {width: 100%; display: flex; margin: 0 auto 0 3rem;}
	section .img-wrapper.left {justify-content: flex-end; margin: auto;}
	section .img-wrapper.high-margin { margin-top: 3rem; margin-bottom: 3rem}
	section .img-wrapper img {
		width: 80%;
		max-width: 650px;
	}
	section .img-wrapper.left img {
		margin: 2rem 0 2rem auto;
	}
	section .img-wrapper.full img {
		width: 100%;
		max-width: unset;
	}
	section .img-wrapper.high-margin.full {
		margin: 3rem 0;
	}
	section .img-wrapper.half img {
		width: 50%;
		margin: 2rem 3rem 2rem auto;
	}
	section .gap-controlled.inview-animation.in-view .img-wrapper img {animation: none;}
	
	section .text-wrapper {
		width: 80%;
		margin: 0 auto 0 1rem;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	section .text-wrapper.left {
		margin: 0 1rem 0 auto;
	}
	section .text-wrapper.high-margin {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	section .text-wrapper p {
		font-weight: 300;
		font-size: 1.8rem;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	section .grid-wrapper {
		width: 80%;
		margin: 0 auto 0 1rem;
		justify-content: center;
	}
	section .grid-wrapper.left {
		margin: 0 1rem 0 auto;
	}
	section .grid-wrapper.high-margin {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
	section .ul-wrapper {
		width: 70%;
		max-width: 400px;
		margin: 0 auto 0 3rem;
	}
	section .ul-wrapper.left {
		margin: 0 1rem 0 auto;
	}

	section  .actions-wrapper.mode-0 .button-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	section  .actions-wrapper.mode-0 .buttons-wrapper a.button{
		margin: 1rem;
		width: 300px;
	}
	section  .actions-wrapper.mode-0 .button-wrapper span {
		margin: 0;
	}
	section  .mode-4 a.button{
		width: 35%;
	}
}	

@media screen and (min-width: 2000px) {
	section h1 {
		margin-top: 5rem;
	}
}

@media screen and (max-width: 350px) {
	section  .actions-wrapper.mode-0 {
		display: flex;
		flex-wrap: wrap;
	}
	section  .actions-wrapper.mode-0 .button-wrapper{
		margin: 0 auto;
	}
}